
<div class="row">
  <div class="col-md-11 col-md-offset-1">
    <input id="userid" placeholder="<%= id %>"  disabled><br /><br />
    <form id="form-updateUser" method="post">
      <input class="firstname" placeholder="<%= firstname %>">      <input class="lastname" placeholder="<%= lastname %>"> <br />
      <input class="username" placeholder="<%= username %>">        <input class="password" placeholder="Password"><br />
      <input class="email" placeholder="<%= email %>">
      <br /><br />
      <input type="button" value="Save" id="button-insertUser" />
    </form>
  </div>
</div>
