
html {
  position: relative;
  min-height: 100%;
}
body {
  background-color: white;
  margin-bottom: 40px;
}
ul {
    list-style-type: none;
}
#user-list li{
  margin: 20px 0;
  cursor: pointer;
  width: 20%;
}
#user-list li:hover{
  color: gray;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #eee;
  text-align: center;
}
.footer .container{
  margin-top:10px;
}
/*todel*/
/*div{
  border: .1px black solid;
}*/
.page-header{
  text-align: center;
}
#navBar, #user-list{
  background-color: #eee;
  padding-left: 10px;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .row{
    margin-top: 20px;
  }
}
