<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Dylan's users</title>
  <link href="style/index.css" rel="stylesheet" type="text/css">
</head>
<body>



    <div id="navBar">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#users">Users</a></li>
            <li><a href="#search">Search</a></li>
            <li><a href="#insert">New User</a></li>
            <li><a href="/login.html#m/2">Logout</a></li>
        </ul>
    </div>
    <hr>


    <br />
    <div id = "container">Loading...</div>





  <br /><br /><br /><br /><br /><br />
  <footer>Dylan's Wonder Emporium</footer>




  <script id="searchById" type="text/template">
    <input type='text' placeholder='id' autofocus>
    <button>fetch</button><br /><br />
    <div id="disUser"></div>
  </script>

  <script id="update" type="text/template" src="templates/tplUserUpdate.html">
    <input id="userid" placeholder="<%= id %>"  disabled><br /><br />
    <form id="form-updateUser" method="post">
      <input class="firstname" placeholder="<%= firstname %>">      <input class="lastname" placeholder="<%= lastname %>"> <br />
      <input class="username" placeholder="<%= username %>">        <input class="password" placeholder="Password"><br />
      <input class="email" placeholder="<%= email %>">
      <br /><br />
      <input type="button" value="Save" id="button-insertUser" />
    </form>
  </script>

  <script id="insert" type="text/template">
    <form id="form-insertUser" method="put">
      <input class="firstname" placeholder="First name">      <input class="lastname" placeholder="Last name"> <br />
      <input class="username" placeholder="Username">        <input class="password" placeholder="Password"><br />
      <input class="email" placeholder="E-mail">
      <br /><br />
      <input type="button" value="Save" id="button-insertUser" />
    </form>
  </script>
  <script id="delete" type="text/template">
    <div id="delUser"></div>
    <h3 class='msg'>Are you sure you want to delete</h3>
    <input type="button" value="Delete" id="button-deleteUser" />
  </script>

  <script id="tempUser" type="text/template">
    <h2><%= firstname %> <%= lastname %>  </h2>
    <p>Username: <%= username %></p>
    <p>E-mail: <%= email%> </p>
  </script>
  <script id="udLinks" type="text/template">
    <br />
    <a href="#update/<%= id %>">Edit</a><a href="#delete/<%= id %>">Delete</a>
  </script>



  <script src="lib/jquery-3.2.1.min.js" type="text/javascript"></script>
  <script src="lib/underscore.js" type="text/javascript"></script>
  <script src="lib/backbone.js" type="text/javascript"></script>
  <script src="lib/bootstrap.js" type="text/javascript"></script>

  <script src="js/app.js" type="text/javascript"></script>
  <script src="js/storage/token.js" type="text/javascript"></script>
  <script src="js/model/UserModel.js" type="text/javascript"></script>
  <script src="js/collection/UserCollection.js" type="text/javascript"></script>
  <script src="js/view/UserListItem.js" type="text/javascript"></script>
  <script src="js/view/UserView.js" type="text/javascript"></script>
  <script src="js/view/HomeView.js" type="text/javascript"></script>
  <script src="js/view/UsersView.js" type="text/javascript"></script>
  <script src="js/view/SearchView.js" type="text/javascript"></script>
  <script src="js/view/UpdateView.js" type="text/javascript"></script>
  <script src="js/view/InsertView.js" type="text/javascript"></script>
  <script src="js/view/DeleteView.js" type="text/javascript"></script>
  <script src="js/router/IndexRouter.js" type="text/javascript"></script>
  <script src="js/tools/GlobalAjax.js" type="text/javascript"></script>



  <!-- <script id="login" type="test/template">
    <form id="form-login" method="post">
      <input id="username" placeholder="Username">
      <input id="password" placeholder="Password">
      <input type="button" id="button-login" value="Login" />
    </form>
  </script> -->



</body>
</html>
